.content
  .article__show__comment__wrapper__form.form.clearfix
    = form_with(model: [@article, @comment], local: true) do |f|
      = f.text_area :text, placeholder: "テキストを入力", rows: "4", class: "comment__form__textarea form"
      = f.submit "SEND", class: "comment__form__submit form"

  = link_to 'back', article_path(@article), class: "back-btn"

