- if @articles.present?
  = render partial: 'article', locals: { '@articles': @articles, content_title: "#{@articles.count}件の検索結果" }
- else
  .search__content
    .search__content__container
      .search__content__container__textarea
        %h2
          = "「#{params[:keyword]}」に一致する記事は見つかりませんでした。"
        %p.serch__text他のキーワードでの検索をお試しください。
