// _header.html.haml
.header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #000;
  &__logo{
    font-size: 20px;
    margin: auto 20px;
  }
  &__search {
    font-size: 12px;
    margin: auto 0;
    .search_window {
      width: 300px;
    }
  }
  &__menu {
    font-size: 12px;
    display: flex;
    margin: auto 20px;
    .menu_lists {
      margin: 10px;
    }
  } 
}
